name: Upload to GitHub Releases

on:
  schedule:
    - cron: '0 0 * * *' # 毎日午前0時に実行
  workflow_dispatch: {}
permissions:
    contents: write
jobs:
    upload-release:
        runs-on: [self-hosted, Windows]
        env:
          DRIVE_PATH: I:\マイドライブ\September
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - name: Create Zip
            shell: powershell
            run: |
              Write-Host "DRIVE_PATH from env: $env:DRIVE_PATH" # デバッグ用
              if ($env:DRIVE_PATH) {
                if (Test-Path "$env:DRIVE_PATH\Unity.zip") { Remove-Item "$env:DRIVE_PATH\Unity.zip" -Force }
                tar -a -cf "$env:DRIVE_PATH\Unity.zip" -C "$env:DRIVE_PATH\Unity" .
              } else {
                Write-Error "DRIVE_PATH environment variable is not set."
              }

          # GitHub Releasesへアップロード
          - name: Upload Releases
            if: failure() == false
            shell: powershell
            run: |
              $TIMESTAMP = Get-Date -Format "yyyyMMdd_HHmmss"
              Write-Host "TIMESTAMP from env: $TIMESTAMP" # デバッグ用
              gh release create $TIMESTAMP "$env:DRIVE_PATH\Unity.zip" --title "Release Unity Package" --notes "This is a release created from a self-hosted runner." --target main
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # - name: Discord Failure Post
          #   if: failure()
          #   env:
          #     DISCORD_MESSAGE: "ZIP作成かGitHubReleasesへのアップロードかそれ以外の何かに失敗しました 要確認 \\n <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}>"
          #   run: |
          #     curl -X POST ${{ secrets.DISCORD_WEBHOOK_URL }}
          #     -H "Content-Type: application/json"
          #     -d "{\"content\":\"${{ env.DISCORD_MESSAGE }}\"}"
